welcome to addmision.com website

<form action="add.php" method="post">
    <label>First Name:</label>
    <input type="text" name="firstname" /><br>
    <label>Last Name:</label>
    <input type="text" name="lastname" /><br>
    <label>Email:</label>
    <input type="text" name="email" /><br>
    <input type="submit" name="submit" value="Submit" />
</form>